* {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}
#counter {
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 3rem;
}
.btn {
  display: flex;
  gap: 2vw;
}
.btn button {
  height: 50px;
  width: 150px;
}
.incre-clicks,
.decre-clicks {
  display: flex;
  gap: 0.5vh;
}
